.Chat{data: {message: {id: message.id}}}
  .Chat__info
    .Chat__info--name
      = message.user.name
    .Chat__info--dateTime
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .Chat__message
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?
    