.SideBar
  .SideBar__userName
    .TopItems
      .TopItems__name
        なまえ
      .TopItems__icons
        =link_to "###", class: "TopItems__btn" do
          = icon('far', 'edit', class: "TopItems__btn--icon")
          %span<>
        =link_to "###", class: "TopItems__btn" do
          = icon('fas', 'cog', class: "TopItems__btn--icon")
          %span<>
  .SideBar__groupList
    %a{class: "GroupList", href: '###'}
      .GroupList__name
        techcamp1
      .GroupList__message
        まだメッセージがありません
    %a{class: "GroupList", href: '###'}
      .GroupList__name
        techcamp2
      .GroupList__message
        まだメッセージがありません
    %a{class: "GroupList", href: '###'}
      .GroupList__name
        techcamp3
      .GroupList__message
        まだメッセージがありません
