* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.SideBar {
  width: 300px;
  color: #ffffff;
  font-weight: bold;
  &__userName {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
  }
  &__groupList {
    padding: 0 20px;
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }
}

.TopItems {
  height: 20px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__name {
    font-size: 16px;
    vertical-align: middle;
  }
  &__icons {
    width: 60px;
    text-align: right;
  }
  &__btn {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;

    &--icon {
      margin-left: 5px;
    }
  }
}

.GroupList {
  &__name {
    font-size: 15px;
    padding: 20px 0 5px 0;
  }
  &__message {
    font-size: 11px;
    padding-bottom: 40px;
  }
}

.ChatMain {
  width: calc(100vw - 300px);
  &__group--info {
    background-color: #ffffff;
    height: 100px;
  }
  &__message--list {
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
  }
  &__message--form {
    background-color: #d2d2d2;
    height: 90px;
  }
}

