* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.SideBar {
  width: 300px;
  color: #ffffff;
  font-weight: bold;
  &__userName {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
  }
  &__groupList {
    padding: 0 20px;
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }
}

.TopItems {
  height: 20px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__name {
    font-size: 16px;
    vertical-align: middle;
  }
  &__icons {
    width: 60px;
    text-align: right;
  }
  &__btn {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;

    &--icon {
      margin-left: 5px;
    }
  }
}

.GroupList {
  text-decoration: none;
  color: #ffffff;
  &__name {
    font-size: 15px;
    padding: 20px 0 5px 0;
  }
  &__message {
    font-size: 11px;
    padding-bottom: 40px;
  }
}

.ChatMain {
  width: calc(100vw - 300px);
  &__group--info {
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: space-between;
  }
  &__message--list {
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
    padding-left: 40px;
    padding-top: 35px;
    overflow: scroll;
  }
  &__message--form {
    background-color: #d2d2d2;
    height: 90px;
  }
}

.Group {
  padding-left: 40px;
  &__name {
    margin-top: 35px;
    color: #333333;
    font-size: 20px;
  }
  &__member{
    margin-top: 15px;
    color: #999999;
    font-size: 12px;
    display: flex;
    &--list {
      margin-left: 5px;
      list-style: none;
    }
  }
}

.EditBtn {
  margin-top: 28px;
  margin-right: 40px;
  padding: 8px 20px;
  height: 40px;
  width: 72px;
  font-size: 16px;
  border: 1px solid #38aef0;
}

.Edit {
  color: #38aef0;
  text-decoration: none;
}

.Chat {
  &__info {
    display: flex;
    &--name {
      color: #333333;
      font-size: 16px;
    }
    &--dateTime {
      color: #999999;
      font-size: 12px;
      vertical-align: top;
      padding-left: 10px;
    }
  }
  &__message {
    margin-top: 12px;
    margin-bottom: 46px;
    color: #434a54;
    font-size: 14px;
  }
}

.Message__image {
  height: 300px;
}

.Form {
  padding: 20px 40px;
  display: flex;
  &__inputContent {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #fff;
    &--textfield {
      height: 50px;
      width: 100%;
      border-style: none;
      padding: 0 40px 0 10px;
    }
    &--image {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    &--file {
      display: none;
    }
  }
  &__icon--image {
    cursor: pointer;
    line-height: 50px;
    font-size: 25px;
  }
  &__submit {
    margin-left: 15px;
    padding: 0px 30px;
    border-style: none;
    height: 50px;
    background-color: #38aef0;
    color: #fff;
    font-size: 16px;
  }
}